body {
    font-family: Lucida Grande, Arial, sans-serif;
    font-size: 10px;
    background-color: #fff;
}
h {
    font-size: 11px;
    font-weight: bold;
}
s_h {
    display: table-header-group;
    background-color: #D2DEE4;
}
s_l, s_c {
    display: table-cell;
    line-height: 16px;
    font-size: 10px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: right;
}
s_l {
    font-size: 10px;
    font-weight: bold;
    line-height: 18px;
}
s_t {
    display: table;
}
s_r {
    display: table-row;
}
.incr {
    color: #6ac712;
}
.decr {
    color: #ff5252;
}
.same {
    color: #000;
}
.even {
    background-color: #fff;
}
.teven {
    background-color: #ffffee;
}
.todd {
    background-color: #ffffcc;
    border-bottom: 1px solid #D2DEEB;
    border-top: 1px solid #D2DEEB;
}
.odd {
    background-color: #EFF3F7;
    border-bottom: 1px solid #D2DEEB;
    border-top: 1px solid #D2DEEB;
}
.total {
    background-color: #ffffcc;
    border-bottom: 1px solid #ffff66;
    border-top: 1px solid #ffff66;
    font-weight: bold;
}
#error {
    color: red;    
}
