body {
    font-family:Verdana;
    font-size:0.8em;
}
#error,
#timestamp {
    padding-top: 5px;
    padding-bottom: 5px;
}
#error {
    color: red;
    font-weight:bold;
}
table {
    font-family:Verdana;
    font-size:0.8em;
    width:100%;
    border:1px solid #ccc;
    border-collapse:collapse;
    cursor:default;
}
table td,
table th {
    padding:2px;
    font-weight:normal;
    padding-right:20px;
    border-right:1px solid #ececec;
}
th.selectedUp, th.selectedDown {
    font-weight:bold;
}
table thead td, table thead th {
    background-image:url(/stats/images/ft-head.gif);
    background-repeat:no-repeat;
    background-position:top right;
}
table thead td.selectedUp, table thead th.selectedUp {
    background-image:url(/stats/images/ft-headup.gif);
}
table thead td.selectedDown, table thead th.selectedDown {
    background-image:url(/stats/images/ft-headdown.gif);
}
table tbody tr td {
    border-bottom:1px solid #ececec;
}
table tbody tr.alt td {
    background:#f1f5f9;
}
table tbody tr.selected td { 
    background:yellow;
}
table tbody tr:hover td {
    background:#a6c2e7;
}
table tbody tr.selected:hover td {
    background:#ff9;
}
